#landing-screen h1 {
    font-family: "Rubik Bubbles", system-ui;
}

#landing-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cloud {
    position: absolute;
    pointer-events: none;
}

.cloud-topleft {
    top: -15%;
    left: -20%;
    width: 100%;
}

.cloud-topright {
    top: -11%;
    right: -35%;
    width: 100%;
}

.cloud-midleft {
    top: 20%;
    left: -13%;
    width: 105%;
}

.cloud-midright {
    top: 20%;
    right: -25%;
    width: 105%;
}

.cloud-btmleft {
    bottom: -25%;
    left: -20%;
    width: 120%;
}

.cloud-btmright {
    bottom: -1%;
    right: 0;
    width: 80%;
}

.cloud-topcenter {
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.cloud-midbtm {
    bottom: -9%;
    left: 70%;
    transform: translateX(-50%);
    width: 70%;
}

.cloud-moon {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
}

.wishing-well-btn {
    position: absolute;
    bottom: 40%;
    left: 60%;
    transform: translateX(-50%);
    width: 30%;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.wishing-well-btn:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    filter: drop-shadow(0 0 30px rgba(0, 191, 255, 1)) drop-shadow(0 0 60px rgba(0, 191, 255, 0.8));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.forest-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
}

#permission-screen {
    display: none;
}

#wish-screen {
    display: none;
}

.title-welcome {
    font-family: "Rubik Bubbles", system-ui;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 15rem;
    z-index: 10;
}

.title-tothe {
    font-family: "Rubik Bubbles", system-ui;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    z-index: 10;
    -webkit-text-stroke: 1px black;
}

@keyframes exit-left {
    to {
        transform: translateX(-150%);
    }
}

@keyframes exit-right {
    to {
        transform: translateX(150%);
    }
}

@keyframes exit-up {
    to {
        transform: translateX(-50%) translateY(-150%);
    }
}

@keyframes exit-down {
    to {
        transform: translateX(-50%) translateY(150%);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.animate-left {
    animation: exit-left 2s ease forwards;
}

.animate-right {
    animation: exit-right 2s ease forwards;
}

.animate-up {
    animation: exit-up 2s ease forwards;
}

.animate-down {
    animation: exit-down 2s ease forwards;
}

.animate-fade {
    animation: fade-out 2s ease forwards;
}